/*Document settings*/

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

main {
  margin-top: 7rem;
  background-color: #f8f8f8;
  margin-bottom: 3rem;
}

p, h1, h2, h3, h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/*Helpers*/

.gray-text {
  color: #808080;
}


/*Nav styles*/

nav {
  position: fixed;
  top: 0;
  height: 6rem;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 5px #888888;
}

nav img {
  height: 4rem;
  vertical-align: middle;
    vertical-align: webkit-baseline-middle;
  margin: 1rem 1rem 1rem 3rem;
}

nav h1 {
  display: inline-block;
  font-weight: 100;
  font-style: italic;
  vertical-align: baseline;
}

.nav-intro {
  width: 50%;
  display: inline-block;
}

nav form {
  display: inline-block;
  width: 45%;
  text-align: right;
}

input[type=text] {
  padding: 7px 13px;
  margin-right: -5px;
}

input[type=submit] {

  padding: 9px 15px;
  background-color: #dc1f1f;
  border: 0px solid #808080;
  color: white;
}


/*Home tour styles*/

section {
  background-color: #fff;
  display: block;
  margin: auto;
  box-shadow: 0px 2px 5px #888888;
  -webkit-margin-after: 1rem;
  padding-left: 3rem;
}

section.home-tour {
    width: 80%;
}

div.the-review {
  width: 50%;
  padding: 1.5rem;
  display: inline-block;
  margin-right: 3rem;
  padding-top: 2.5rem;
}

div.the-photos {
  display: inline-block;
  height: 100%;
  vertical-align: baseline;
}

div.photos-content {
  display: block;
  margin: auto;
  padding-bottom: 3rem;
}

div.the-photos img {
  height: 8rem;
}

p.the-category {
  font-weight: 300;
  font-style: italic;
}

h1.the-title {
  font-family: 'Secular One', monospace;
  font-size: 2rem;
  color: #333;
}

p.the-author {
  font-weight: 300;
  font-size: .9rem;
  -webkit-margin-after: 1rem;
}

div.the-content {
  -webkit-margin-after: 1rem;
  color: #333;
}

p.read-more {
  font-weight: 300;
  text-align: right;
  margin-right: 2rem;
}


/*restaurants section*/

section.restaurants {
  padding: 1.5rem;
  padding-left: 2rem;
  width: 70%;
  display: inline-block;
}


div.restaurant {
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
}

div.title {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.the-title span {
  color: #dc1f1f;
}

div.title p {
  color: #333;
  font-size: 1.7rem;
}

form {
  display: inline-block;
}

div.restaurant-pic {
  width: 38%;
  display: inline-block;
  vertical-align: top;
}

div.restaurant-pic img {
  width: 100%;
}

div.restaurant-info {
  display: inline-block;
  margin-left: 2rem;
  vertical-align: text-top;
}

div.restaurant-info h2 {
  font-family: 'Secular One', monospace;
  color: #333;
}

div.restaurant-info p {
  margin-bottom: 1.5rem;
}

.rating {
  color: #dc1f1f;
  font-size: 2rem;
}

div.restaurant-buttons {
  vertical-align: bottom;
}


/*articles section*/

section.main-content {
  width: 80%;
  background-color: #f8f8f8;
  box-shadow: 0px 0px;
  padding: 0;
  height: 1172px;
}


section.articles {
  width: 306px;
  display: inline-block;
  margin-left: .7rem;
  height: 1172px;
  vertical-align: bottom;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

article.aside {
  -webkit-margin-after: 2rem;
}

article img {
  width: auto;
  height: 70%;
  overflow-x: hidden;
}

article h3 {
  color: #333;
  -webkit-margin-after: .5rem;
}

section.articles h2 {
  -webkit-margin-after: 1.5rem;
  font-family: 'Secular One', monospace;
  color: #333;
}


/*footer*/

html {
  margin: 0;
}

footer {
  width: 100%;
  height: 275px;
  background-color: #333;
  color: #fff;
  /*padding: 3rem;*/
  padding-top: 3rem;
}

.container {
  width: 85%;
  display: block;
  margin: auto;
}

footer div {
 display: inline-block;
}

div.contacto ul li {
  list-style: none;
}

div.footer-logo {
  width: 20%;
}

div.contacto {
  width: 40%;
}

div.redes {
  width: 30%;
}

div.footer-copyright {
  background-color: #444;
  width: 100%;
  height: 40px;
  margin-top: 3rem;
}

/*social icons*/

@font-face {
    font-family: 'si';
    src: url('fonts/socicon.eot');
    src: url('fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon.woff') format('woff'),
         url('fonts/socicon.ttf') format('truetype'),
         url('fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;

}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'\e040';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'\e041';
}
.soc-instagram {
    background-color: #405de6;
}
.soc-instagram:before {
    content:'\e057';
}
.soc-medium {
    background-color: #000000;
}
.soc-medium:before {
    content:'\e06d';
}

.soc-twitter:hover {
    background-color: #61bbf2;
}
.soc-facebook:hover {
    background-color: #526fac;
}
.soc-instagram:hover {
    background-color: #5471fa;
}
.soc-medium:hover {
    background-color: #363636;
}
